// Variables
$dorado = #CEC484
$rojizo = #FF5C39
$gris = #444
$marino = #00B1B9
$gris_claro = #666

//Bootstrap
a, a:hover
	color $rojizo

h1, h2, h3, h4, h5, h6
	color $gris
	font-family "Montserrat"
	
input, label, li, p, span
	color $gris_claro
	font-family "Lato"
	
select
	border-radius 2px !important
	
.dropdown-menu
	border 1px solid white
	border-radius 0
	box-shadow 0 1px 3px rgba(0, 0, 0, .2)
	margin-top 1px
	font-size .875rem
	
.badge-info
	background $marino
	border-radius 2px
	padding .25rem .5rem

.btn-primary, .btn-primary:hover
	background-color $rojizo
	border-bottom 2px solid darken($rojizo, 5)
	border-left 0
	border-radius 2px
	border-right 0
	border-top 0
	cursor pointer
	font-family Montserrat
	font-size .875rem
	outline none
	padding .5rem 1rem
	text-align center
	text-transform uppercase
	
//Personalizado
.Header
	box-shadow 0 1px 3px rgba(0, 0, 0, .15)
	nav
		padding 0
	&-categoria
		border-bottom 2px solid white
		color $gris
		flex-shrink 0
		font-family "Montserrat"
		font-size .75rem
		font-weight 300
		text-transform uppercase
		&:hover
			color $rojizo
	&-ingreso
		font-weight 500
	&-marca
		padding .5rem 0
	&-primer-link
		padding-left 0	
	&-registro, &-ingreso
		font-family "Montserrat"
		font-size .75rem
		text-transform uppercase
	&-registro
		color $gris
		font-weight 300
		margin-right 1rem
		&:hover
			color $gris

.Hero
	background linear-gradient(to right, #FF9DA2 0%, #96C4DB 100%)
	padding-bottom 8rem
	position relative
	&:after
		background rgba(0, 0, 0, .15)
		content ""
		height 100%
		width 100%
	button
		height 44px
		line-height 28px
		width 110px
	h3
		background #F1F1F1
		font-size 1rem
		margin 0
		max-width 235px
		padding .625rem
		text-align center
		text-transform uppercase
	input
		float right
		padding-left 2rem
		&:focus
			border 1px solid #555
	input + label:before
		color $gris_claro
		font-family FontAwesome
		margin-top .625rem
		margin-right -2.25rem
	&-busqueda
		background #F1F1F1
		padding .625rem
	&-ciudad + label:before
		content "\f041"
	&-fecha + label:before
		content "\f073"
	&-inputContainer
		margin-right 10px
		width calc( (100% - (110px + 10px * 3)) / 3 )
	&-reserva + label:before
		content "\f002"
	&-titulo
		font-weight 500
		color white
		padding 6rem 0 5rem 0
		
.Destacados
	padding-bottom 3.5rem
	h2
		padding-top 3rem
	.Cajita
		img
			margin-bottom .75rem
	
.Cajita
	margin-top 2rem
	a
		text-decoration none
	img
		display block
		max-width 100%
	&-calificaciones
		display flex
		justify-content space-between
	&-descripcion
		color $gris_claro
		font-size .875rem
		margin-bottom .25rem
	&-direccion
		display inline-block
		font-size .875rem
		margin-bottom 0
	&-estrellas
		color $marino
	&-resenas
		color $gris
		font-size .875rem
	&-titulo
		font-size 1rem
		margin-bottom .375rem
		text-transform uppercase
	&-ver
		padding 0 .75rem
		
.ComoFunciona
	padding 3rem 0 2rem 0
	h2
		margin-bottom 2rem
	p
		color $gris_claro
		font-family "Lato"
		font-size 1.25rem
		font-weight 300
		text-align center
	.separador
		margin-bottom 3rem
	&-numeracion
		background $marino
		border-radius 50%
		color white
		display block
		font-size 1.75rem
		font-weight 600
		height 4rem
		line-height 4rem
		margin 0 auto 2rem auto
		text-align center
		text-shadow 0 1px 2px darken($marino, 10)
		width 4rem
	&-imagenes
		display block
		margin 2rem auto
		max-width 110px

.Pie
	padding-bottom 3rem
	a
		color $gris_claro
	h5
		font-size 1rem
		margin-bottom 1.25rem
		margin-top 3rem
		text-transform uppercase
	ul
		list-style none
		margin 0
		padding 0

.Resultados
	margin 2rem 0
	&-lista
		select
			margin-right 0 !important
	.Cajita
		display flex
		.btn-primary
			font-size .75rem
			padding .25rem .5rem
		.aux:first-child
			margin-right .75rem
			width 50%
		&-calificaciones
			margin-bottom .5rem
		&-descripcion
			margin .5rem 0
		&-titulo
			margin 0

.Filtros
	background #F1F1F1
	padding 1.75rem
	.separador
		margin 1.5rem 0
	select
		margin-bottom .5rem !important
	label
		display block
	&-busqueda
		border 1px solid white
	&-titulo
		font-size 1rem
		margin-bottom 1rem
		text-transform uppercase
	&-inputContainer
		display flex

.Paginacion
	margin-top 2rem
	.page-item:first-child .page-link, .page-item:last-child .page-link
		border-radius 0
	.page-link
		border 0
		color $marino
		
.Detalle
	.separador
		margin 1.5rem 0
	.carousel-item.active, .carousel-item-next, .carousel-item-prev
		display block
	&-anadir
		color $rojizo
		cursor pointer
		padding 0 .25rem
	&-galeria
		margin-bottom 2rem
	&-estrellas
		font-size 1.5rem
	&-estrellas, &-resenas
		color $dorado
	&-resenas
		text-align right
	&-servicio
		border 1px solid #ccc
		border-radius 2px
		margin .25rem 0
		padding .75rem 
	&-tituloCategoria
		margin-top .875rem
	&-titulo
		font-size 2rem
		margin-bottom 0
		text-transform uppercase

.Comentario
	border 1px solid #ccc
	border-radius 2px
	margin 1rem 0
	padding 1.25rem 
	.fa-star, .fa-star-o
		color $dorado
		margin-bottom .5rem
	&:last-child
		margin-bottom 2rem
	&-fecha
		color #aaa
	&-persona
		display inline-block
		margin-top .5rem
	p
		margin 0

.Reserva
	background #F1F1F1
	padding 1.75rem
	margin-bottom 3rem
	input
		margin-bottom 1rem
	.btn-primary
		width 100%
	&-checkout
		background $marino
		border 1px solid darken($marino, 3)
		border-radius 2px
		color white
		cursor pointer
		font-family "Montserrat"
		padding .5rem 0
		text-align center
		text-transform uppercase
		width 100%
	&-secciones
		h6
			font-size .875rem
		p 
			color #aaa
			font-size .875rem
	&-titulo
		font-size 1rem
		margin-bottom 1.25rem
		text-transform uppercase
		

// Clases globales
.flex-between
	display flex
	justify-content space-between
	
.separador
	background #ccc
	height 1px
	width 100%
	
.titulos-seccion
	color $gris
	letter-spacing -.05rem
	
.Input
	border 1px solid #ccc
	border-radius 2px
	height 44px
	line-height 44px
	width 100% !important
	&:focus
		border 1px solid #555
		
#gmap_canvas
	height 400px
	width 100%
	
@media (max-width: 991px)
	.Hero
		&-inputContainer
			margin 0 10px .5rem 5px
			width calc(50% - 10px)
			&:nth-child(2)
				margin 0 5px .5rem 0
			&:nth-child(n+3)
				margin-bottom 0
		button
			height 42px
			width calc(50% - 10px)

@media (max-width: 767px)
	.Header
		button
			cursor pointer
			margin -1.75rem auto 0 auto
			position relative
			width 44px
			&:focus
				outline none
			i
				color #666
				margin-left 1rem
		.navbar-text
			line-height 1rem
		&-categorias
			padding 1.25rem 0 .5rem 0
		&-registro, &-ingreso
			font-size .625rem
		&-registro
			margin-right .5rem
		.navbar-brand
			font-size 1rem
		.dropdown-menu
			box-shadow none
			margin-top -.5rem
	.Hero
		&-titulo
			font-size 2rem
		&-inputContainer
			margin 0
			width 100%
	.Resultados-lista
		h2
			font-size 1.25rem
			
@media (max-width: 575px)
	body
		font-size 14px
	.Resultados
		margin 1.5rem 0
		.Cajita
			display block
			margin-bottom 2.5rem
			.aux:first-child
				margin 0 auto
		&-lista
			.flex-between
				display block
				margin-top 1.5rem
				text-align center	
	.Filtros
		padding 1.5rem
	.Cajita
		img
			margin 0 auto
	.titulos-seccion
		font-size 1.5rem
	.ComoFunciona
		p
			font-size 1rem